.vscode/**
.vscode-test/**
src/**
scripts/**
examples/**
node_modules/**
**/*.map
**/*.ts
!**/*.d.ts
.gitignore
.gitmodules
tsconfig.json
*.vsix
.vsixmanifest
.github/**
*.md
!README.md
!CHANGELOG.md
!LICENSE.txt
CONTRIBUTING.md
emoji-settings-examples-updated.jsonc
font-awesome-examples.json
settings-examples.jsonc
